.header{
    background-color:#1C2B35;
    height:80px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding-left: 120px;
    padding-right:120px;
    position: sticky;
    top: 0;
    z-index: 4;
}

header a{
    text-decoration: none;
    color:#ffffff;
    margin-left: 36px;
    font-size: 17px;
    transition: all 0.5s;
}

header a:hover{
    color:orange;
}